* {
  box-sizing: border-box;
}

body {
  background-color: yellow;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-color: ghostwhite;
}

.grid div {
  border: 1px solid brown;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.dorothy {
  background-image: url('../assets/dorothy-dorothy-wizard-of-oz-transparent-png-365x679-free-dorothy-and-the-wizard-of-oz-png-820_759.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  background-position: center;
}

.grid div.home {
  background-image: url('../assets/dorothy-home.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  background-position: center;
}

/* STARTING ROAD - CAN I GROUP THESE TOGETHER? */

body > div > div > div:nth-child(91) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(92) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(93) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(94) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(95) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(96) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(97) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(98) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(99) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(100) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}

/* WITCHES FOREST */

body > div > div > div:nth-child(51) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(52) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(53) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(54) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(55) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(56) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(57) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(58) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(59) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(60) {
  background-color: green;
  background-size: 180%;
}

body > div > div > div:nth-child(61) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(62) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(63) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(64) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(65) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(66) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(67) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(68) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(69) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(70) {
  background-color: green;
  background-size: 180%;
}

body > div > div > div:nth-child(71) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(72) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(73) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(74) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(75) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(76) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(77) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(78) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(79) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(80) {
  background-color: green;
  background-size: 180%;
}

body > div > div > div:nth-child(81) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(82) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(83) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(84) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(85) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(86) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(87) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(88) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(89) {
  background-color: green;
  background-size: 180%;
}
body > div > div > div:nth-child(90) {
  background-color: green;
  background-size: 200%;
}


/* MIDDLE ROAD - IS THERE A WAY TO GROUP THESE AS ONE?*/

body > div > div > div:nth-child(41) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(42) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(43) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(44) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(45) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(46) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(47) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(48) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(49) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}
body > div > div > div:nth-child(50) {
  background-image: url('../assets/yellow-brick-wall-vector-illustration-background-131489114\ \(1\).jpg');
  background-size: 350%;
}

/* HOME GRID SQUARES */

body > div > div > div:nth-child(2) {
  background-color: lightgreen;
  background-size: 350%;
}
body > div > div > div:nth-child(4) {
  background-color: lightgreen;
  background-size: 350%;
}
body > div > div > div:nth-child(7) {
  background-color: lightgreen;
  background-size: 350%;
}
body > div > div > div:nth-child(9) {
  background-color: lightgreen;
  background-size: 350%;
}

/* RIVER CROSSING - HOW TO GROUP THESE TOGETHER? */

body > div > div > div:nth-child(1) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(3) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(5) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(6) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(8) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(10) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(11) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(12) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(13) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(14) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(15) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(16) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(17) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(18) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(19) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(20) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(21) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(22) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(23) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(24) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(25) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(26) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(27) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(28) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(29) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(30) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(31) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(32) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(33) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(34) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(35) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(36) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(37) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(38) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(39) {
  background-color: lightseagreen;
  background-size: 350%;
}
body > div > div > div:nth-child(40) {
  background-color: lightseagreen;
  background-size: 350%;
}